<div class="container">
  <div class="row">
    <div class="col col-md-6">

      <div class="card">

        <div class="card-header">Accounts</div>
        <div class="card-body">
          <form [formGroup]="accountForm" (ngSubmit)="handleSearchAccount()">

            <div class="input-group">
              <label class="input-group-text">Account Id</label>
              <input type="text" formControlName="accountId" class="form-control">
              <button class="btn btn-info"> Search <i class="bi bi-search"></i> </button>
            </div>

          </form>
          <ng-container *ngIf="account$  as accountDetails">
            <div class="mt-3">
              <label>Account Id: </label>
              <label class="m-lg-2"><strong> {{accountDetails.accountId}}  </strong></label>
            </div>
            <div class="mt-3">
              <label>Balance: </label>
              <label class="m-lg-2"><strong>{{accountDetails.accountOperations.content[0].bankAccount.balance | number:'1.2-2'}}</strong></label>
            </div>
            <table class="table">
              <thead>

                  <th>Id</th> <th>Date</th> <th>Amount</th> <th>Type</th>


              </thead>
              <tbody>
                  <tr *ngFor="let op of accountDetails.accountOperations.content">
                    <td>{{op.id}}</td>
                    <td>{{op.operationDate | date:'dd-mm-yyyy:hh-mm-ss'}}</td>
                    <td>{{op.amount | number:'1.2-2'}}</td>
                    <td>{{op.type}}</td>
                  </tr>
              </tbody>

            </table>

          </ng-container>

        </div>
      </div>

    </div>
    <div class="col col-md-6">
        <div class="card"  *ngIf="account$">
          <div class="card-header"> Operations  </div>
          <div class="card-body">

            <form [formGroup]="operationForm" (ngSubmit)="handleAccountOperation()" method="post" >


              <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input"  value="DEBIT"  formControlName="operationType">
                <label  class="form-check-label">Debit : </label>
              </div>

              <div class="form-check form-check-inline">

                <input type="radio" formControlName="operationType" value="CREDIT"  class="form-check-input" >
                <label  class="form-check-label">Credit : </label>

              </div>

              <div class="form-check form-check-inline">
                <input type="radio" formControlName="operationType" value="TRANSFERT"  class="form-check-input" >
                <label  class="form-check-label">Transfert : </label>
              </div>

              <div class="mb-3">
                <label  class="form-label" >Account Destination</label>
                <input placeholder="Rib du compt " type="text" formControlName="acountDestination" class="form-control">
              </div>

              <div class="mb-3">
                <label  class="form-label" >Amount</label>
                <input type="text" formControlName="amount" class="form-control">
              </div>

              <div class="mb-3">
                <label  class="form-label" >Description</label>
                <input type="text" formControlName="acountDestination" class="form-control">
              </div>
              <div class="d-grid" >
                <button class="btn btn-success">Save Operation</button>
              </div>

            </form>

          </div>
        </div>

    </div>
  </div>



</div>
