<div class="container">

  <div class="card col-md-6 offset-3 mt-2">

    <div class="card-header"> New Customer </div>
    <form  [formGroup]="newCustomerFormGroup"  (ngSubmit)="handleSaveCustomer()">
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" formControlName="name" class="form-control"   >
          <span  class="text-danger"
                 *ngIf="newCustomerFormGroup.controls['name'].touched && newCustomerFormGroup.controls['name'].errors

                    && newCustomerFormGroup.controls['name'].errors!['required'] "
          >
            Name is Required
          </span>
        </div>

      <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="text" class="form-control"  formControlName="email" >
        <span  class="text-danger"
               *ngIf="newCustomerFormGroup.controls['email'].touched && newCustomerFormGroup.controls['email'].errors

                    && newCustomerFormGroup.controls['email'].errors!['required'] "
        >
            Email is Not Valid
          </span>

      </div>
      <button [disabled]="!newCustomerFormGroup.valid" class="btn btn-success align-content-center" >Submit</button>


    </form>

  </div>



</div>

